site_name: MkDocs Swagger UI Tag

repo_url: https://github.com/blueswen/mkdocs-swagger-ui-tag
repo_name: blueswen/mkdocs-swagger-ui-tag
site_url: https://blueswen.github.io/mkdocs-swagger-ui-tag/
site_dir: ../docs
edit_uri: ""

theme:
  name: material
  icon:
    logo: simple/swagger
  features:
    - toc.integrate
    - navigation.tabs
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      accent: green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: green
      accent: green
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra:
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - swagger-ui-tag
  - glightbox:
      touchNavigation: true
      loop: true
      height: auto
      width: 80%

nav:
  - Home: index.md
  - Pet Store Example: pet-store.md 
  - Plugin Options: options.md
  - Demo: 
    - Static File: demo/static-file.md
    - Full Width Swagger UI:  demo/pet-store-full-width.md
    - Multiple: demo/multiple.md
    - Build-in Multiple: demo/build-in-multiple.md
    - OAuth2 Initialization: demo/oauth2.md
    - Without Try It Out: demo/without-try-it-out.md
    - OpenAPI v3.1: demo/openapi-v3.1.md
